@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background-color: white;
  font-family: 'Fira Code', monospace;
  color: #222831;
}

img{
  /* max-width: 100%; */
}